<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-light_blue.min.css" />
    <script type="text/javascript">
      window['CLOSURE_NO_DEPS'] = true;
    </script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="/assets/app.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <input type="hidden" id="C_PROJECT" value="{project}" />
    <input type="hidden" id="C_CLIENT_ID" value="{client_id}" />
    <input type="hidden" id="C_API_KEY" value="{api_key}" />
    <input type="hidden" id="C_SCOPES" value="{scopes}" />
    <input type="hidden" id="C_GROUP" value="{group}" />
    
    <style>
     .message {
         width: 800px;
     }
    </style>

    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-card mdl-shadow--2dp message">
                <div class="mdl-card__supporting-text" id="message">
                </div>
            </div>

        </div>
    </main>

</body>

</html>
