
<form method="POST" action="/account/password" accept-charset="UTF-8" role="form" class="form-signin">
  <input name="_token" type="hidden" value="">
	<fieldset>
    <div class="row">
      <div class="col-md-3">
        Current Password:
      </div>
      <div class="col-md-3">
		    <input class="form-control middle" placeholder="Password"
               name="current_password"
               type="current_password" value="{{current_password}}" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        New Password:
      </div>
      <div class="col-md-3">
		    <input class="form-control middle" placeholder="Password" name="password"
               type="password" value="{{password}}" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        Retype New Password:
      </div>
      <div class="col-md-3">
		    <input class="form-control bottom" placeholder="Password Confirmation"
               name="password_confirmation" type="password"
               value="{{password_confirmation}}" required>
      </div>
    </div>
		<div style="padding-left: 30px; padding-bottom: 10px;">
			<script type="text/javascript">
	      var RecaptchaOptions = {"curl_timeout":1};
      </script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="6LcvKSATAAAAAGmjdxYMv5d2DLGhibbB4ilIwxgd"></div>
		  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update">
	</fieldset>
</form>
</div>
