
<form method="POST" action="/account/password" accept-charset="UTF-8" role="form" class="form-signin">
  <input name="_token" type="hidden" value="">
	<fieldset>
    <div class="row">
      <div class="col-md-3">
        Current Password:
      </div>
      <div class="col-md-3">
		    <input class="form-control middle" placeholder="Password"
               name="current_password"
               type="password" value="{{current_password}}" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        New Password:
      </div>
      <div class="col-md-3">
		      <input class="form-control middle"
                 placeholder="New Password" name="password"
                 type="password" value="{{password}}" required>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        Retype New Password:
      </div>
      <div class="col-md-3">
		    <input class="form-control bottom" placeholder="Password Confirmation"
               name="password_confirmation" type="password"
               value="{{password_confirmation}}" required>
      </div>
    </div>
    {% include "recaptcha.html" %}
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Update">
	</fieldset>
</form>
</div>
