<div class="row">
  <div class="col-md-3">
    Username:
  </div>
  <div class="col-md-3">
    {{user.username}}
  </div>
</div>

<form method="POST" action="/account/basic" accept-charset="UTF-8" role="form" class="form-signin">
  <input name="_token" type="hidden" value="">
	<fieldset>
    <div class="row">
      <div class="col-md-3">
        Email:
      </div>
      <div class="col-md-3">
		    <input class="form-control middle" placeholder="Email" name="email"
               type="text" value="{{user.email|safe}}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        Full Name:
      </div>
      <div class="col-md-3">
	      <input class="form-control middle" placeholder="Full Name"
               name="fullname"
               type="text" value="{{user.fullname|safe}}">
      </div>
    </div>
		<div style="padding-left: 30px; padding-bottom: 10px;">
			<script type="text/javascript">
	      var RecaptchaOptions = {"curl_timeout":1};
      </script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="6LcvKSATAAAAAGmjdxYMv5d2DLGhibbB4ilIwxgd"></div>
		  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Update">
	</fieldset>
</form>
</div>
