<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{settings.PROJECT_NAME|safe}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {%if page_name=='home' %}active{% endif %}">
        <a class="nav-link" href="/">Home</a></li>
      <li class="nav-item {%if page_name=='about' %}active{% endif %}">
        <a class="nav-link" href="/about">About</a></li>
      <li class="nav-item {%if page_name=='contact' %}active{% endif %}">
        <a class="nav-link" href="/contact">Contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user %}
      <li class="{%if 'account' in page_name %}active{% endif %}">
        <a class="nav-link" href="/account">{{user.username}}</a></li>
      <li>
        <a class="btn btn-outline-success" href="/signout">Sign Out</a></li>
      {% else %}
      <li class="{%if page_name=='signin' %}active{% endif %}">
        <a class="btn btn-outline-success" href="/signin">Sign In</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
