{% extends "base.html" %}
{% block content %}
<form method="POST" action="/register" accept-charset="UTF-8" role="form" class="form-signin">
  <h2 class="form-signin-heading">Create account</h2>
  <input name="_token" type="hidden" value="">
	<fieldset>
		<input class="form-control" placeholder="Username" name="username" type="text">
		<input class="form-control middle" placeholder="E-mail" name="email" type="text">
		<input class="form-control middle" placeholder="Password" name="password" type="password" value="">
		<input class="form-control bottom" placeholder="Confirm Password" name="password_confirmation" type="password" value="">
		<div style="padding-left: 30px; padding-bottom: 10px;">
			<script type="text/javascript">
	      var RecaptchaOptions = {"curl_timeout":1};
      </script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <div class="g-recaptcha" data-sitekey="6LcvKSATAAAAAGmjdxYMv5d2DLGhibbB4ilIwxgd"></div>
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
		<p class="text-center" style="margin-top:10px;">OR</p>
    <a class="btn btn-lg btn-block btn-default btn-social-icon btn-google" href="{{urls.login}}" rel="nofollow">Register in with Google</a>
		<br>
		<p class="text-center"><a href="/signin">Already have an account?</a></p>
	</fieldset>
</form>
{% endblock %}
