{% extends "base.html" %}
{% block content %}
<form class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

  <div class="form-group">
    <div class="col-md-12 control">
      <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
        Don't have an account! 
        <a href="/signup">
          Sign Up Here
        </a>
      </div>
    </div>
  </div>
</form>

<p class="text-center" style="margin-top:10px;">OR</p>
<a class="btn btn-lg btn-block btn-default btn-social-icon btn-google" href="{{signin_url}}" rel="nofollow">Sign in with Google</a>
{% endblock %}
