{% extends "base.html" %}
{% block content %}
<form method="POST" action="/signup" accept-charset="UTF-8" role="form" class="form-signin">
  <h2 class="form-signin-heading">Create account</h2>
  <input name="_token" type="hidden" value="">
	<fieldset>
		<input class="form-control middle" placeholder="Username" name="username"
           type="text" value="{{username}}" required>
		<input class="form-control middle" placeholder="Password" name="password"
           type="password" value="{{password}}" required>
		<input class="form-control bottom" placeholder="Password Confirmation"
           name="password_confirmation" type="password"
           value="{{password_confirmation}}" required>
    {% include "recaptcha.html" %}

		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
<!--		<p class="text-center" style="margin-top:10px;">OR</p>
    <a class="btn btn-lg btn-block btn-default btn-social-icon btn-google"
       href="{{signin_url}}" rel="nofollow">Register in with Google</a>
		<br>
-->		<p class="text-center"><a href="/signin">Already have an account?</a></p>
	</fieldset>
</form>
{% endblock %}
